// Colors
$white: #ffffff;
$black: #17202a;
$primary-color: #3e61b2; // Blue
$secondary-color: #eb984e; // "Warning" Orange
$positive-color: #27ae60; // Green
$neutral-color: #f1c40f; // Yellow
$negative-color: #c0392b; // Red
$dark-grey: #2c3e50;
$medium-grey: #abb2b9;
$light-grey: #eaecee;

// Sizes
$base-line-height: 1.6;
$pulse: $base-line-height * 1rem;
