<div class="global-nav-item">
  <%= link_to(translate('about'), about_path) %>
</div>
<div class="global-nav-item">
  <%= link_to(translate('chronology'), chronology_path) %>
</div>
<div class="global-nav-item">
  <%= link_to(translate('signup'), signup_path) %>
</div>
<div class="global-nav-item">
  <%= link_to(translate('login'), login_path) %>
</div>
